$primaryBgColor: #f0f0f0;

body {
    font: 0.75rem Verdana;
    background-color: $primaryBgColor;
}

.app {
    .search_wrapper {
        margin: 0 auto;
        margin-top: 6rem;
        padding: 2rem;
        width: 40%;
        text-align: center;
        border: 0.0625rem solid #ccc;
        background-color: #fff;
    }

        .search_wrapper__input {
            padding: 1.2em;
            color: #6a6a6a;
            font-size: 0.875rem;
            border: 0.0625rem solid #ccc;
            background-color: #fff;

            &::placeholder {
                color: #6a6a6a;
                opacity: 1;
            }
        }
        
        .search_wrapper__button {
            margin-left: 0.25rem;
            padding: 1.2em;
            color: #fff;
            font-size: 0.875rem;
            border: 0.0625rem solid #d2d2d2;
            background-color: #3c3c3c;
        }

    .address_wrapper {
        margin: 0 auto;
        margin-top: 1rem;
        padding: 2rem;
        width: 40%;
        font-size: 0.9375rem;
        color: #5b5b5b;
        border: 0.0625rem solid #ccc;
        background-color: #fff;
    }

    .footer_wrapper {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .app {
        .search_wrapper,
        .address_wrapper {
            width: 80%;
        }
    }
}